fail_fast: true

repos:
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: system
        files: ^src/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true
      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: true